@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterBold';
    src: url('/src/fonts/Inter-Bold.ttf');
}

body {
    margin: 0px;
}

#container {
    display: flex;
}

/* LEFT SIDE */

.left {
    width: 28vw;
    background-color: #F8F8F8;
    border-radius: 38px;
    margin: 2vh;
    height: 96vh;
    min-width: 238px;
}

.todo-list,
.lists {
    display: flex;
    flex-direction: column;
    margin: 0px 3vw;
    gap: 12px;
}

.todo-list > h3,
.lists > .listContainer > h3 {
    font-family: 'Poppins';
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 0px;
}

.today,
.allTasks {
    background-color: #EAEAEA;
    font-family: 'Inter';
    border-radius: 11px;
    padding: 10px 17px;
}

.todo-list > .selected {
    background-color: #4290D9;
    color: white;
}

button {
    all: unset;
    cursor: pointer;
    font-size: 1.2em;
}

.listBtns {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 14px;
}

.listButton {
    display: flex;
    align-items: center;
}

.listButton > button {
    border-radius: 30px;
    font-family: 'Inter';
    background-color: white;
    padding:14px;
    min-width: -webkit-fill-available;
    filter: drop-shadow(.5px .5px 2px rgba(0, 0, 0, 0.05));
}

.taskCount {
    position: relative;
    left: -44px;
    font-family: 'Poppins';
    background-color: #4290D9;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: .9em;
    padding: 4px 10px;
}

#addBtn {
    display:flex;
    gap: 4px;
    margin-top: 20px;
    font-size: .9em;
}

#addBtn > button {
    font-family: 'Inter';
    color: #BCBCBC;
}

.plus {
    background-color: #EAEAEA;
    border-radius: 20px;
    padding: 1px 6px 3px 6px;
}

.listContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* RIGHT SIDE */

.right {
    margin-left: 10px;
}

.greeting {
    font-family: 'Poppins';
}

.greetingTop,
.greetingBottom {
    display: flex;
    column-gap: 6px;
}

.greetingBottom {
    color:#BCBCBC;
    flex-wrap: wrap;
}

.greetingBottom > h2 {
    margin: 0px;
}

.greetingTop > h1 {
    margin-top: 44px;
    margin-bottom: -5px;
}

#dayOfWeek {
    color: #4290D9;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BCBCBC; 
    align-items: baseline;
    margin-top: 7vh;
    width: 54vw;
}

.header > h2 {
    font-family: 'Poppins';
    margin: 0px;
    font-size: 1.7em;
}

.header > p {
    font-family: 'Inter';
    color: #BCBCBC;
    margin: 0px;
}

.taskArea {
    display: flex;
    flex-direction: column;
}

.taskCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.listName {
    font-family: 'InterBold';
    font-size: 1.4em;
    margin-bottom: 11px;
}

.task {
    position: relative;
    font-size: 1.1em;
    padding-top: 2px;
    padding-left: 36px;
    margin-bottom: 1px;
    cursor: pointer;
    font-family: 'Inter';
    width: fit-content;
}

.task input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border: 2px solid #4290D9;
    position: absolute;
    border-radius: 5px;
    top:0;
    left: 0;
    width: 20px;
    height: 20px;
}

.strike:checked + span {
    text-decoration: line-through;
}

.task input:checked ~ .checkmark {
    background-color: #4290D9;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.task input:checked ~ .checkmark:after {
    display: block;
}

.task .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#addTaskBtn {
    position:absolute;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 0 20px #e4e4e4;
    display: flex;
    justify-content: center;
}

.plusTask {
    font-family: 'Poppins';
    font-size: 2.5em;
    color: #BCBCBC;
}

/* NEW TASK POPUP */

#newTask,
#newList {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 20px 28px;
    border-radius: 20px;
    width: 42vw;
    max-width: 450px;
    min-width: 395px;
    right: 0;
    left: 0;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

#newTask > h2,
#newList > h2 {
    font-family: 'Poppins';
    margin-top: 0;
}

#newTaskName,
#newListName {
    height: 17px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-family: 'Inter';
    padding: 8px 12px;
    font-size: inherit;
}

.dot {
    width: 18px;
    height: 18px;
    border-radius: 18px;
}

.listSelectContainer,
.dateSelectContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
}

.listSelectContainer > label,
.dateSelectContainer > label {
    font-family: 'Inter';
}

input[type='date'] {
    border-radius: 7px;
    height: 17px;
    border: 2px solid lightgrey;
    padding: 8px 12px;
    font-family: 'Inter';
    font-size: inherit;
}

.select-menu{
    width: 150px;
}
.select-menu .select-btn{
    display: flex;
    height: 17px;
    background: #fff;
    padding: 8px 12px;
    font-family: 'Inter';
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border: 2px solid lightgrey;
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    font-family: 'Inter';
    position: absolute;
    padding: 2px;
    margin-top: 5px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: inherit;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 12px;
    cursor: pointer;
    padding: 13px 16px;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    background: #fff;
}

.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

.newTaskBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addCancel {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
    font-family: 'Inter';
    cursor: pointer;
}

.newTaskAdd,
.newTaskCancel,
.newListAdd,
.newListCancel {
    padding: 6px 10px;
    border-radius: 7px;
    background-color: #F2F2F2;
}

.newTaskAdd:hover,
.newTaskCancel:hover,
.newListAdd:hover,
.newListCancel:hover {
    background-color: #EAEAEA;
}

.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 1;
    opacity: 40%;
}

/* New List Popup */

.newListNameInput {
    font-family: 'Inter';
    font-size: 1.2em;
    color: #BCBCBC;
    margin-right: 8px;
    display: flex;
    gap: 17px;
}

.colorLabel {
    font-family: 'Inter';
    font-size: 1.2em;
    color: #BCBCBC;
}

.newListBottom {
    font-family: 'Inter';
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#newListName {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.green {
    background-color: #71CD50;
}

.orange {
    background-color: #FB9535;
}

.pink {
    background-color: #F173BF;
}

.yellow {
    background-color: #F6D14B;
}

.red {
    background-color: #EF543F;
}

.teal {
    background-color: #67C7C1;
}

.purple {
    background-color: #9C69DE;
}

.black {
    background-color: #505050;
}

.green,
.orange,
.pink,
.yellow,
.red,
.teal,
.purple,
.black {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
}

label span {
    display: block;
    width: 100%;
    height: 100%;
}

.colorSelected {
    background-color: white;
    filter: drop-shadow(1px 1px 1px grey);
    width: 10px;
    height: 10px;
    border-radius: 20px;
    top: 27%;
    left: 27%;
    position: relative;
}

#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.colorSelected {
    display: none;
}


input[type="radio"]:checked + label > span > .colorSelected {
    display: block;
}